@{
    ViewBag.Title = "Contact Page";
}
<h2>Contact Me</h2>
<form>
    <label>Name</label>
    <input type="text" value="" />
    <label>Email</label>
    <input type="email" value="" />
    <label>Message</label>
    <textarea cols="40" rows="4"></textarea>
    <div>
        <input type="submit" value="Send Message" />
    </div>
</form>